<div class="indexBody">
  <img src="img/logo.png" alt="lingo" height="250" width="450" >

  <div class="buttons">
    <a href="/play"><button type="button" class="btn btn-light btn-lg home" id="start">Get Started</button></a>
    <button type="button" class="btn btn-light btn-lg home" id="sign-up">Sign-up</button>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
</div>
