{{!-- language select drop down menu --}}
<div class="row chooseLang">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <select class="custom-select lang" name="lang-select">
            <option selected="">Language to Learn</option>
            <option value="en">English</option>
            <option value="fil">Filipino</option>
            <option value="fr">French</option>
            <option value="de">German</option>
            <option value="it">Italian</option>
            <option value="es">Spanish</option>
        </select>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row game">
    {{!-- hangman animation --}}
    <div class="col-md-7">
        <div class="gameScene">
            <canvas id="canvas" class="canvas" width="200" height="200"></canvas>
        </div>
    </div>

    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div class="row inputGuess">
            <div class="wordInput">
                {{!-- user letter input --}}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="letter to guess" id="letter-guessed">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit" id="submit-guess">Submit Guess</button>
                    </div>
                </div>
            </div>

            {{!-- letters guessed appear here --}}
            <div class="guess" id="letters-guessed"></div>

            {{!-- link/button: hint --}}
            <button type="button" class="btn btn-light hint">Get a Hint</button>
        </div>
    </div>
</div>

{{!-- word to be guessed --}}
<div class="row toGuess">
    <div class="col-md-7">
        <div class="word" id="word-to-guess" data-guess="{{translatedWord}}" data-original="{{originalWord}}"></div>
    </div>
    <div class="col-md-5"></div>
</div>